@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navigation {
    background-color: #333;
    padding-bottom: 10px;
}
#logo {
    padding: 15px 10px 5px 10px;
    width: 110px;
    height: 55px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
li {
    display:inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
footer {
    background-color: #373738;
}
footer.ul {
    display: inline-block;
    vertical-align: top;
}
#portrait {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background: url(Portrait);
}
body {
    margin:0;
    padding:0;
}
button {
    background: #FF6161;
    font-size: 20px;
    padding: 14px 25px;
    border-radius: 12px;
    border-color:white;
}
button:hover {
    background-color: #DA4A4A;
}
.content {
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    color: rgb(0, 0, 0);
    max-width: 40%;
    padding: 50px 0px 0px 0px;
}
.content h1 {
    font-size: 64px;
}
section.heroImg{
    display: flex;
    justify-content:space-between;
    height: 600px;
    padding: 150px 100px 100px 100px;
}

.flexContainer {
    display:flex;
    flex-direction: row;
    justify-content:center
}
#userResearch {
    width: 320px;
    padding: 30px;
    margin: auto;
    background-color: #373738;
    color:white;
}
#uiDesign {
    width: 320px;
    padding: 30px 30px 12px 30px;
    margin: auto;
    background-color: #373738;
    color:white;
}
#webDevelopment {
    width: 320px;
    padding: 30px;
    margin: auto;
    background-color: #373738;
    color:white;
}
.mySkills {
    text-align: center;
    padding: 0px 0px 200px 0px;
}
.workGrid {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;

}
.squibbleCard {
    background-color: white;
    max-width: 195px;
    text-align: center;
    border:2px solid rgb(94, 84, 84);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7%;
    padding: 0 0 5px 0;
}
.drawchangeCard {
    background-color: white;
    max-width: 195px;
    text-align: center;
    border:2px solid rgb(94, 84, 84);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7%;
    padding: 0 0 5px 0;
}
.squibbleCard:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.drawchangeCard:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.projectThumbnails {
    border-bottom: 3px solid black;
    border-radius: 5px 5px 0 0;
}
.myWork {
    text-align: center;
}
